p {
  color: var(--ifm-infoCard-text-color);
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.25px;
  line-height: 20px;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.14px;
  line-height: 24px;
}

img {
  vertical-align: middle;
}

header {
  height: 312px;
  text-align: center;
  background: #06002d;
}

.heroBannerLeft {
  height: 312px;
  position: absolute;
  left: 0;
  display: inline-block;
}

.heroBannerRight {
  height: 312px;
  position: absolute;
  right: 0;
  display: inline-block;
}

.heroBannerText {
  padding: 4rem 1rem 0.2rem 1rem;
  color: #fff;
  z-index: 999;
}

.heroBannerSubText {
  color: #fff;
  font-weight: 500;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 1rem;
}

.pillPurple {
  width: 50px;
  height: 3px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #6200ee;
}

.pillBlue {
  width: 50px;
  height: 3px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #1ec4e9;
}
.pillYellow {
  width: 50px;
  height: 3px;
  margin: 15px 0;
  border-radius: 5px;
  background-color: #f7b500;
}
.cardContentList {
  list-style-type: none;
  margin-left: -2rem;
  font-weight: 600;
}

.link {
  color: #6200ee;
  font-weight: 600;
}

.button {
  outline: none;
  width: 180px;
  height: 80px;
  border-radius: 4px;
  border: none;
  margin-top: 1rem;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  background-color: #6200ee;
  color: #ffffff;
}

.integrationIcon {
  width: 30px;
  height: 30px;
  margin: 0rem 5px;
  border-radius: 0px;
}

.startDeploying {
  padding: 4rem;
  background-color: #131720;
  height: 290px;
  display: flex;
  color: #fff;
  flex-direction: column;
  align-items: center;
}

.infoCardSection {
  background-color: var(--ifm-infoCard-section-color);
  height: auto;
  width: 100%;
}

.infoCardsIntro {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  top: -5.5rem;
  z-index: 99;
}

.suggestion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  top: -4rem;
  z-index: 99;
}

.suggestionText {
  margin: 1rem 4rem;
}

.infoCardSmall {
  width: 360px;
  height: 160px;
  min-height: 180px;
  background: var(--ifm-infoCard-background-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 1rem 1rem 1.2rem 1rem;
  padding: 1.5rem;
}

.infoCardSmall:hover {
  transform: scale(1.025);
  transition: 400ms;
}

.infoCardLarge {
  width: 360px;
  height: 330px;
  min-height: 320px;
  background: var(--ifm-infoCard-background-color);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  margin: 0.5rem 1rem 1rem 1rem;
  padding: 2rem 2rem 1rem 2rem;
}

@media screen and (max-width: 990px) {
  .heroBannerRight {
    display: none;
  }

  .infoCardsIntro {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .suggestion {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1175px) {
  .heroBannerLeft {
    display: none;
  }
}
