:root {
  --color-blue: #1ec4e9;
  --color-yellow: #f7b500;
  --color-purple: #6200ee;
  --color-white: #ffffff;
  --primary-color: #ac6bfc;
  --primary-color-dark: #06002d;
  --primary-color-darker: #242526;
  overflow-x: hidden;
}

.hSpacer1 {
  margin-top: 12px;
}
.hSpacer2 {
  margin-top: 34px;
}
.hSpacer3 {
  margin-top: 64px;
}
.hSpacer4 {
  margin-top: 96px;
}

.hSpacer5 {
  margin-top: 120px;
}

/* Cards */

.cardItemList {
  list-style-type: none;
  margin-left: -32px;
  font-weight: 600;
  text-align: left;
}

.cardContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 99;
  padding: 0px 10px;
  margin-bottom: 20px;
}

.featureCard {
  display: flex;
  flex-direction: column;
  width: 400px;
  min-width: 300px;
  height: 275px;
  background: var(--ifm-card-background);
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12), 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 20px;
  margin: 0px 10px;
  align-items: flex-start;
  text-align: left;
}

.infoCardSmall {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 185px;
  background: var(--ifm-card-background);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 24px;
  color: var(--ifm-link-text-color);
  border-radius: 8px;
  text-align: center;
  margin: 0px 10px;
}

.infoCardSmall:hover {
  box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.5);
  transition: 300ms;
}

.infoCardLarge {
  width: 400px;
  height: 330px;
  margin: 0px 10px;
  min-height: 320px;
  background: var(--ifm-card-background);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.14),
    0px 3px 1px -2px rgba(0, 0, 0, 0.12), 0px 1px 5px 0px rgba(0, 0, 0, 0.2);
  padding: 32px 32px 16px 32px;
  color: var(--ifm-link-text-color);
  border-radius: 8px;
  display: flex;
  text-align: left;
  flex-direction: column;
  align-items: flex-start;
}

/* text */

.primaryText {
  opacity: 0.87;
}

.secondaryText {
  opacity: 0.6;
}

.caption {
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 2px;
}
h1 {
  font-size: 60px;
  letter-spacing: -0.53px;
  font-weight: 500;
}

h2 {
  font-size: 34px;
  font-weight: 500;
  letter-spacing: -0.53px;
}

h3 {
  font-size: 26px;
  font-weight: 500;
}

h4 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.14px;
}

h5 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

h6 {
  letter-spacing: 0.25px;
  font-weight: normal;
  font-size: 14px;
}

.heading {
  max-width: 960px;
  margin: 0 auto;
  font-weight: 600;
}

.subheading {
  max-width: 640px;
  margin: 0 auto;
  line-height: 28px;
}

.heroBannerText {
  padding: 124px 16px 4px 16px;
  color: var(--color-white);
}

.featureQuickStartGrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 1230px;
  margin: 0 auto;
  padding-top: 16px;
}

.featureQuickStartGrid > div {
  width: 50%;
  z-index: 9;
  text-align: left;
}

.frameworks {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 180px;
}

/* icons */

.featureIcons {
  background-size: 100%;
  width: 32px;
  height: 32px;
}

.featureCardIcons {
  align-items: flex-start;
  display: flex;
  width: 100%;
  flex-direction: row;
}

.featureCardIcons > div {
  margin: 0px 4px 8px 4px;
}

.angular {
  background: var(--ifm-angular) no-repeat;
}
.docker {
  background: var(--ifm-docker) no-repeat;
}
.gatsby {
  background: var(--ifm-gatsby) no-repeat;
}
.golang {
  background: var(--ifm-golang) no-repeat;
}
.hugo {
  background: var(--ifm-hugo) no-repeat;
}
.minio {
  background: var(--ifm-minio) no-repeat;
}
.mongo {
  background: var(--ifm-mongo) no-repeat;
}
.more {
  background: var(--ifm-more) no-repeat;
}
.mysql {
  background: var(--ifm-mysql) no-repeat;
}
.nextjs {
  background: var(--ifm-nextjs) no-repeat;
}
.node {
  background: var(--ifm-node) no-repeat;
}
.postgresql {
  background: var(--ifm-postgresql) no-repeat;
}
.python {
  background: var(--ifm-python) no-repeat;
}
.react {
  background: var(--ifm-react) no-repeat;
}
.redis {
  background: var(--ifm-redis) no-repeat;
}
.ruby {
  background: var(--ifm-ruby) no-repeat;
}
.rust {
  background: var(--ifm-rust) no-repeat;
}
.vue {
  background: var(--ifm-vue) no-repeat;
}

/* alert */

.alertContainer {
  display: flex;
  color: var(--color-white);
  background-color: var(--color-purple);
  height: auto;
  padding: 16px 0px 16px 16px;
  font-size: 16px;
  font-weight: 500;
}

.alertLink {
  margin-left: auto;
  padding: 0px 16px 0px 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  cursor: pointer;
  color: var(--color-white);
}

/* section */

.callToActionBg {
  background: url("/img/call-to-action.svg") no-repeat center center;
  background-size: cover;
  width: 100%;
  margin-top: 32px;
  height: 240px;
}

.devTools {
  padding: 80px 20px;
  height: auto;
  background-color: var(--ifm-devTools-background);
}

.devToolsContainer {
  display: flex;
  max-width: 1230px;
  flex-direction: row;
  flex-wrap: wrap;
  margin: auto;
  padding-bottom: 84px;
  justify-content: center;
}

.devToolsBg {
  position: relative;
  z-index: 9;
}

.devToolsFeaturesContainer {
  width: 50%;
}

.devToolsFeaturegrid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.devToolsFeaturegrid > div {
  width: 50%;
  padding-right: 16px;
}

.quickStart {
  background-color: var(--primary-color-darker);
  height: auto;
  color: var(--color-white);
  text-align: center;
  align-items: center;
}

/* ----- */

img {
  vertical-align: middle;
}

.heroBanner {
  width: 100%;
  text-align: center;
  position: relative;
  background: url("/img/landing.svg") no-repeat center center;
  background-size: cover;
}

.whiteSlant {
  height: 500px;
  width: 100%;
  margin-top: -450px;
  position: relative;
  background: var(--ifm-whiteSlant-image);
  background-size: cover;
}

.blackSlant {
  height: 280px;
  width: 100%;
  margin-top: -320px;
  margin-bottom: -2px;
  position: relative;
  background: url("/img/black-slant.svg") no-repeat;
  background-size: cover;
  z-index: 1;
}

.icon {
  width: 40px;
  height: 40px;
  margin-bottom: 16px;
}

.pill {
  width: 50px;
  height: 4px;
  margin: 2px 0px 12px 0px;
  border-radius: 5px;
}
.purple {
  background-color: var(--color-purple);
}

.purpleText {
  color: var(--color-purple);
}

.blue {
  background-color: var(--color-blue);
}

.yellow {
  background-color: var(--color-yellow);
}

.link {
  font-weight: 600;
  color: var(--ifm-link-text-color);
}

.linkNoHoverEffect:hover {
  color: var(--ifm-link-text-color);
}

a:hover {
  text-decoration: none;
}

.button {
  width: 150px;
  height: 40px;
  border-radius: 8px;
  border: none;
  margin-top: 46px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1px;
  background-color: var(--color-purple);
  color: var(--color-white);
  cursor: pointer;
  position: relative;
  z-index: 9;
}

.button:hover {
  background-color: var(--color-purple);
  opacity: 0.8;
}

@media screen and (max-width: 1280px) {
  .whiteSlant {
    height: 540px;
    margin-top: -500px;
  }
  .devToolsFeaturesContainer {
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
  }
  .devToolsContainer {
    flex-direction: column;
    align-items: center;
  }
  .devToolsFeaturegrid > div {
    flex-direction: column;
    width: 100%;
  }

  .featureQuickStartGrid {
    padding: 0 20px;
  }
}

@media screen and (max-width: 960px) {
  .frameworks {
    height: 150px;
  }
  .featureQuickStartGrid {
    flex-direction: column;
    padding: 16px 0px;
  }

  .featureQuickStartGrid > div {
    width: 100%;
    text-align: center;
    padding-bottom: 16px;
  }

  .devToolsBg {
    width: 100%;
  }

  .cardContainer {
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 16px;
  }

  .suggestionBody {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .featureCard {
    width: 100%;
    margin: 10px 0px;
  }

  .infoCardSmall {
    width: 100%;
    margin: 10px 0px;
  }

  .infoCardLarge {
    width: 100%;
    margin: 10px 0px;
  }

  .whiteSlant {
    height: 1000px;
    margin-top: -1000px;
    margin-bottom: 0px;
  }
}
